@import url('https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css');

/* .App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */

.header{
  position: sticky;
  top: 0;
  background-color: rgb(0, 217, 255);
  color: white;
  padding: 10px;
  font-size: 1.8em;
  text-align: center;
}

.header a{
  color: white;
  text-decoration: none;

}

.link {
  text-align: start;
  padding: 0 25px;
}

.app-menu img {
  width: 100%;
}

.app-menu a {
  text-decoration: none;
  color: black;
}

.app-menu p {
  width: 100%;
  text-decoration: none;
  color: grey;
  margin: 10px 0 20px;
  font-size: 0.9em;
}

h2 {
  font-size: 1.8em;
  font-weight: 400;
  margin: 10px 0;
}

.card{
  display: flex;
  padding: 10px;
}
/* .card img{
  height: 120px;
} */

.card-image{
  display: flex;
  justify-content: center;
  background-color: burlywood;
  height: 120px;
  width: 100px;

}

.card h3{
  font-size: 1.4em;
  font-weight:300 ;
}

.description {
  width:100%;
  color: blue;
  text-decoration: none;
}
/* .description a{
  color: black;
  text-decoration: none;
} */



hr{
  color: rgb(204, 204, 204);
}